
/* ------------------------ Global styles ------------------------- */
* {
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    min-width: 411px;
    margin: 0px auto;   
    background-attachment: fixed; 
    background-image: url("../img/bg.jpg");
    background-position: top;
    background-position-y: 60px;
    background-size: auto;
    background-repeat: repeat-y; 
}
body>* {
    max-width: 1366px;
    margin: 0px auto;
}
main {
    box-shadow: inset 0px -30px 30px 0px rgba(40,31,85, 0.8);
    min-height: calc(100vh - 120px);
    padding: 40px 20px;
    display: flex;
    flex-direction: column; 
}


/* ------------------------ Button styles ------------------------- */
.btn {
    background-color: #281F55;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    padding: 4px 10px;
    color: #FFFFFF;
    border: 2px solid  #281F55;
    outline: none;
}
.header-btn {     
    font-size: 20px;
    font-weight: bold;
    transition: border-color 0.3s;
}
.header-btn:hover {
    border-color: #FFFFFF;
}
.form-btn {
    border: 1px solid #D6D6D6;
    margin: 10px 5px;
    padding: 10px 20px;
    font-style: italic;
    font-size: 16px;
    min-width: 90px;
    transition: background-color 0.3s;
}
.red-btn:hover {
    background-color: #fc0000;
}
.green-btn:hover {
    background-color: #03B206;
}
.delete-icon-box {
    position: absolute;
    opacity: 0;
    top: -1px;
    right: -1px;
    height: 70px;
    width: 70px;
    border-top: 35px solid #ACE1E1;
    border-right: 35px solid #ACE1E1;
    border-bottom: 35px solid transparent;
    border-left: 35px solid transparent;
    transition: opacity 0.3s linear;
}
.delete-icon {  
    width: 0px;
    height: 0px;
    position: absolute;
    transform: translateY(-40px) translateX(3px);
    cursor: pointer;
    font-size: 42px;
    user-select: none;
    color: #000000;
    font-weight: bold;
}


/* ------------------------ Header styles ------------------------- */
header {
    position: sticky;
    top: 0px;
    z-index: 2;
    height: 60px;
    color: #FFFFFF;
    background-color: #281F55;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    box-shadow: 0px 20px 20px 0px #281F55;
    white-space: nowrap;
}
.no-style-link {    
    color: #FFFFFF;
    text-decoration: inherit;
}


/* Empty list info block styling */
#empty-list-info {
    display: none;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    padding: 60px 20px;
    user-select: none;
    letter-spacing: 1px;
}
#empty-list-info > * {
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    margin: 6px;
}
#start-adding {
    cursor: pointer;
    text-decoration: underline;
}

/*  Forms styling */

.backdrop {
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(64,64,64, 0.4);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-content {
    color: #FFFFFF;
    background-image: linear-gradient(to bottom, #281F55, #003BA1, #281F55);
    box-shadow: 0 0 30px 0 #281F55, inset 0 0 30px 0 #281F55;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    padding: 40px 10px;
}
.form-content h2 {
    text-align: center;
}
#delete-form-content {   
    line-height: 40px;
    width: 320px;
}
#add-form-content {
    width: 460px;
}
#add-form-content footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#label-container {
	display: flex;
    flex-direction: column;
	align-items: center;
	width: 350px;
	margin: 40px 0;
}
.form-label {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: #FFFFFF;
	margin: 8px 0;
	width: 100%;
}
.form-label input {
    border-radius: 4px;
    padding: 10px 20px;
    border: 1px solid #D6D6D6;
    width: 190px;
}

/* Rating radio buttons styling */
/* https://snipp.ru/html-css/rating-css */
.rating-area {
	overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    /* margin: 8px auto; */
    /* padding-left: 9px; */
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 36px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}

/* mini Rating radio buttons under posters */
.rating-mini {
	display: inline-block;
	font-size: 0;
}
.rating-mini span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: lightgrey;
}
.rating-mini > span:before {
	content: '★';
}
.rating-mini > span.active {
	color: #36B2DF;
    ;
}

/* Movie list section styling */
#movie-list {
    margin: 0px auto;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}
.movie-cell {
    width: 204px;
    position: relative;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px 16px 12px;
    margin: 14px 12px;
    background-color: #FFFFFF;
    border: 1px solid #e3e3e3;
}
.movie-cell h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
    margin: 10px 0;
    text-align: center;
    word-wrap: break-word;
}
.poster-box {
    overflow: hidden;
    height: 272px;
    width: 184px;
    display: flex;
    margin-bottom: 14px;
}
.poster-box > img {
    height: 100%;
    margin: 0px auto;
}
#main-buffer {
    flex-grow: 2;
}

/* Footer styling */

footer {
    position: sticky;
    height: 60px;
    background-color: rgba(40,31,85, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
footer div {
    color: #FFFFFF;
    font-size: 20px;
}





@media only screen and (max-width: 411px) {
    header {
      padding: 5px 10px;
    }
}